<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a class="logo-ft" href="#" class="scroll-top"><em>Info</em>Robos</a>
                    <p>Copyright &copy; 2018 InfoRobos
                   <br>Design: <a href="http://www.templatemo.com">templatemo</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>Localización</h4>
                    <ul>
                        <li>Colombia, <br>Bogota D.C</li>
                        <li>Direccion, <br>Cr ## Cl ## - ##</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>Mas informacion</h4>
                    <ul>
                        <li><em>Telefono</em>: +51 777-7777</li>
                        <li><em>Email</em>: infoRobos@company.co</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4>Encuentrenos en redes sociales</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>